<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Finance Forecast</span>
</div>

<div class="content" role="main">
  <div class="row">
    <div class="input-balance">
      <form class="example-form">
        <mat-form-field class="balance-form" appearance="fill">
          <mat-label>Current Balance</mat-label>
          <input name="balance" matInput mvndrMatCurrencyFormat placeholder="1000" value="" [(ngModel)]="balance" (change)="onBalanceChange()">
        </mat-form-field>
      </form>
      <div class="input-list">
        <h2>Input List</h2>
        <div *ngFor="let i of inputs">
          <div>
            <h4>{{i.name}}</h4>
            <h4 [ngStyle]="{'color': i.type == 'Income' ? 'green' : 'red'}">{{i.amount | currency}}</h4>
            <h4>{{i.date | date:'shortDate'}}</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="input-buttons">
      <button class="add-input-button" mat-raised-button color="primary" (click)="addInput()">Add Input</button>
      <button class="input-list-button" mat-raised-button color="primary" (click)="inputList()">Input List</button>
    </div>

    <div class="input-calendar">
      <form class="input-form" (ngSubmit)="onInputSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input name="name" matInput currency-mask value="" [(ngModel)]="input.name">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Amount</mat-label>
          <input name="amount" matInput mvndrMatCurrencyFormat placeholder="100" value="" [(ngModel)]="input.amount">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <mat-select id="input-type-select" name="type" [(ngModel)]="input.type" matNativeControl required>
            <mat-option *ngFor="let t of types" [value]="t">
              {{t}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Occurrence</mat-label>
          <mat-select id="occurrence" name="input-occurrence-select" [(ngModel)]="input.occurrence" matNativeControl required>
            <mat-option *ngFor="let o of occurrences" [value]="o">
              {{o}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Transaction Date</mat-label>
          <input name="date" matInput [matDatepicker]="picker" [(ngModel)]="input.date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary">Submit</button>
        <button mat-raised-button type="reset" color="accent">Clear</button>
      </form>
      <h2 class="calendar-title">Calendar</h2>
      <div class="card-container card-days">
        <div *ngFor="let d of days">
          <div class="card-day">
            <h4>{{d}}</h4>
          </div>
        </div>
      </div>
      <div class="card-container">
        <div *ngFor="let b of balanceList">
          <div class="card">
            <h4>{{b.date | date:'shortDate'}}</h4>
            <h4>{{b.amount | currency}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer>
      
  </footer>

</div>
<router-outlet></router-outlet>
